{
  "ConnectionStrings": {
    "Sara": "Server=tcp:232;Database=Sara8M03;Integrated Security=True;TrustServerCertificate=True;Encrypt=False;Connect Timeout=30;",
    "Rayvarz": "Server=tcp:232;Database=Ray_CityHall;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True;Encrypt=False;Connect Timeout=30;",
    "RuleEngine": "Server=tcp:232;Database=DbRuleEngein;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True;Encrypt=False;",
    "RayvarzRuleEngine": "Server=tcp:232;Database=RayvarzRuleEngine;User Id=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=True;Encrypt=False;"
  },
  "RuleEngine": {
    "NidMemberRayvarzRun": 1388,
    "StabilityHours": 72,
    "PollIntervalMinutes": 15,
    "EnableBackgroundSync": true
  },
  "Rayvarz": {
    "ServiceUrl": "http://mdc-rayvarzsvc.itc.mashhad.ir/safa_shahrsazi_v2/WCFServer.ReceiveIncmVchrServices.svc",
    "WsAddressingTo": "http://mdc-rayvarzsvc.itc.mashhad.ir/safa_shahrsazi_v2/WCFServer.ReceiveIncmVchrServices.svc",
    "SoapEnvelopeStyle": "addressing",
    "SoapVersion": "soap12",
    "IncmMkrTyp": "auto",
    "DryRun": true,
    "AllowInvalidSsl": false,
    "ProxyUrl": ""
  }
}
