<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <connectionStrings>
    <add name="RuleEngine"
         connectionString="Server=tcp:172.16.8.136;Database=DbRuleEngein;User Id=debugger;Password=Ra@123456;TrustServerCertificate=True;Encrypt=False;Connect Timeout=30;"
         providerName="System.Data.SqlClient" />
    <add name="Sara"
         connectionString="Server=tcp:172.16.8.136;Database=Sara8M03;User Id=debugger;Password=Ra@123456;TrustServerCertificate=True;Encrypt=False;Connect Timeout=30;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="DllPath" value="C:\Users\sadathoseini-sh\Desktop\dll10" />
    <add key="RootGUID" value="00000000-0000-0000-0000-000000000000" />
    <add key="DefaultCity" value="2" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="dll10" />
    </assemblyBinding>
  </runtime>
</configuration>
